<h2>Таблица уроков</h2>
<form [formGroup]="lesson" (ngSubmit)="addLesson()">
  <div>
    <label>Номер</label>
    <input type="number" name="number" formControlName="number" />
    <div *ngIf="lesson.controls['number'].invalid && lesson.controls['number'].touched">
      Не указан номер занятия
    </div>
  </div>
  <div>
    <label>Дата урока</label>
    <input type="date" name="date" formControlName="date" required appAppDer />
    <div *ngIf="lesson.controls['date'].untouched">
      Не корректная дата
    </div>
  </div>
  <div>
    <label>Тема урока</label>
    <input name="topic" formControlName="topic" />
    <div *ngIf="lesson.controls['topic'].invalid && lesson.controls['topic'].touched">
      Не указана тема урока
    </div>
  </div>
  <div>
    <label>Домашнее задание</label>
    <input name="homework" formControlName="homework" />
    <div *ngIf="lesson.controls['homework'].invalid && lesson.controls['homework'].touched">
      Не указано Домашнее задание
    </div>
  </div>
  <div>
    <label>Примечание</label>
    <input name="note" formControlName="note" />
    <div *ngIf="lesson.controls['note'].invalid && lesson.controls['note'].touched">
      Не указано Примечание
    </div>
  </div>
  <div>
    <button [disabled]="lesson.invalid">
      Добавить урок
    </button>
  </div>
</form>

<div>
  <h3>Уроки</h3>
  <table>
    <tr>
      <th>Номер</th>
      <th>Дата урока</th>
      <th>Тема урока</th>
      <th>Домашнее задание</th>
      <th>Примечание</th>
    </tr>
    <tr *ngFor="let l of lessonss">
      <td>{{l.number}}</td>
      <td>{{l.date}}</td>
      <td>{{l.topic}} </td>
      <td>{{l.homework}}</td>
      <td>{{l.note}}</td>
    </tr>
  </table>
</div>

<div>
  <h3>Оценки</h3>

  <table>
    <tr>
      <th>Ф.И.О.</th>
      <th *ngFor="let l of lessonss">{{l.date}} {{l.topic}}</th>
      <th>Средний Балл</th>
      <th>Округленный Балл</th>
    </tr>
    <tr *ngFor="let s of studentss">
      <th>{{s.name}}</th>
      <th *ngFor="let l of lessonss">
        <select class="form-control" name="rait" (change)="service.addRait(r.value, s, l)" #r>
          <option *ngFor="let r of raitinggs" [value]="r">
            {{r}}
          </option>
        </select>
      </th>
      <th>{{s.raiting}}</th>
      <th>{{s.avrg}}</th>
    </tr>
  </table>
</div>